$font-en:'Oranienbaum', serif;
$font-kr:'Pretendard', sans-serif;
$font-title:'Bookk', serif;

/*color*/
$green:#8cc4a1;
$deepgreen:#2e605d;

$light:#c8dad8;
$sky:#e2f5fa;

$pink:#d8b3e6;
$black:#181818;